/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/bootstrap/cache
.env
.env.backup
.env.local
.env.*.local
.phpunit.result.cache
/vendor
npm-debug.log
yarn-error.log
.DS_Store
.idea/
Homestead.json
Homestead.yaml
auth.json
.fleet
.vscode
*.sqlite